.Class {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 20px 25px 70px;
    padding: inline 40px;


}

.sameLine {

    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 20px 25px 70px;
    padding: inline 40px;
}

}










