<!-- views/contact-success.ejs -->

<%- include('header') %>

<main>
  <h1>Contact Form Submitted</h1>
  <table>
    <!-- Display user-submitted data in table format -->
    <!-- Display data here -->
  </table>
</main>
